@import url(./home/business.css);
@import url(./home/clients.css);
@import url(./global.css/global.css);
@import url(./global.css/header.css);
@import url(./home/intro.css);
@import url(./home/comunity.css);
@import url(./home/text_grade.css);
@import url(./home/tesla.css);

/*util*/

@import url(./util/color.css);

