body {

    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none; 
}

a {
    text-decoration: none;
    color: #4D4D4D;
}

a,
h1,
p{
    margin: 0;
}


/*header */

.header {

    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

}

.menu-header{
    display: flex;
    gap:40px;
    flex-wrap: wrap;
    margin: 4px;
}

.menu-header a:hover{

    color:#28CB8B;

}


.button-register{

    background-color: #28CB8B;
    display: flex;
    gap: 6px;
    padding: 10px;
    margin:-10px;
    height:20px;
    border-radius: 3px;
    color: #ffffff;
}

.button-register:hover{
    background-color: #28cb8a63;
}


.right-set{
    width: 18px;

}


.mobile-menu{
    display: none;
}

.menu-mobile-img{
    width: 28px;
    height: 28px;
    margin: -4px;
}

.logo {

    width: 150px;
}

/* introducao */

.intro-bg{
    background-color: #F5F7FA;
}

.intro-content{
    display: grid;
    justify-items: center;
    max-width: 1040px;
    height: 460px;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
}

.intro-content h1{

    font-size: 48px
}


.intro-text{

    margin-top: 72px;

}

.intro-content p {

    margin-top: 24px;
    font-size: 14px;
    color: #717171;

}

.intro-button{

    display: inline-block;
    padding:16px 32px;
    margin-top: 30px;
    text-transform: uppercase;
    background: #28CB8B;
    color: #ffffff;
    border-radius: 3px;

}

.intro-button:hover{

    background:#28cb8a7c;
    color:#4D4D4D;

}

.intro-content img{

    width: 370px;
    height: 380px;
    margin-left: 170px;
}

.text-green-intro{
    color:#28CB8B;
}

/* clients */

    .clients h2 , .clients p {
        text-align: center;
        color: #717171;
    }

    .clients { 

        margin-top: 26px;

    }

    .clients h2{
        font-size: 32px;
    }

    .clients p{
        font-size: 12px;
    }

    .logo-clients{
        display: flex;
        margin-top: 40px;
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
        gap: 115px;

    }

    .logo-clients img{
        width: 50px;
        height: 50px;
    }

    /* community */

    .text_commu{
        text-align: center;
        color: #717171;
    }

    .Community h2{
        font-size: 32px;
    }

    .Community p{
        font-size: 12px;
    }

    .grid-community{
        display: flex;
        max-width: 1050px;
        margin-top: 36px;
        margin-left: auto;
        margin-right: auto;
        gap: 140px;
        justify-content: center;
        color: #717171;

    }

    .g-commu{
        display: grid;
        width: 240px;
        text-align: center;
        justify-items: center;
        border: solid #4d4d4d17 0.2px;
        border-radius: 2px;
    }

    /* pixel grade */

    .pixel_grade{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }

    .text-pixel_grade{
        padding-top: 80px;
    }

    .pixel_grade h2{
        color:#4D4D4D;
        font-size:26px;
    }

    .pixel_grade p{
        color: #717171;
        font-size:12px;
    }

    .pixel_grade a{
        color:#ffffff;
        padding: 10px 22px;
        border-radius: 3px;
        background: #4CAF4F;
        display: inline-block;
        margin-top: 16px;
    }

    .pixel_grade a:hover{

        background:  #4caf4f96;
        color:#4D4D4D;

    }

    .pixel_grade img{
        width: 450px;
        height: 400px;
    }

@media (max-width:1050px){

    .intro-text{
        margin-left: 12px;

    }
    .logo-clients{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center; 
    gap:20px;
    max-width: 460px;
   }

   .logo-clients :nth-child(7){
    display: none;
   }

   .logo-clients img{
    background: #71717160;
    border-radius: 3px;
    border: solid 2px #28CB8B;
}


    

}

@media (max-width:830px){

    .menu-header{
    display: none;    
}

    .mobile-menu{
        display:initial;
    }

    /*introducao */

    .intro-content img{

        width: 270px;
        height: 280px;
        margin-left: 0px;
    }
    
    .intro-content{
        justify-items:auto;
        height: 650px;
        padding-top: 0px;
        grid-template-columns: 1fr;
    }

    .intro-content h1{

        font-size: 40px
    }

    .intro-content p{
        font-size: 12px;
    }

    .intro-button{
        padding:12px 16px;
    }

    .intro-text{

        margin-top: 42px;    
    }

    

    /*commu*/

    .grid-community{
        display: flex;
        flex-wrap: wrap;
        max-width: 1050px;
        margin-top: 36px;
        margin-left: auto;
        margin-right: auto;
        gap: 48px;
        justify-content: center;
        color: #717171;

    }

    /*pixel grade*/

    .pixel_grade{

        grid-template-columns: 1fr ;    
    }
    
    .text-pixel_grade{
        padding-top: 0px;
        text-align: center;
        margin-left: 8px;
        margin-right: 8px;
    }

    .pixel_grade h2{
        font-size:24px;
    }

    .pixel_grade img{
        width: 350px;
        height: 300px;
    }


}

@media (max-width:500px){

    /*introducao */

    .intro-button{
        margin-top: 15px;
}

    .logo-clients{
        max-width: 120px;
    }


  
}