html{
    scroll-behavior: smooth;
}

body {

    margin: 0px;
    font-family: 'Inter', sans-serif;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none; 
}

a {
    text-decoration: none;
    color: #4D4D4D;
}

a,
h1,
p,
h3{
    margin: 0;
}


::-webkit-scrollbar-track{

    background: var(--silver);

   }

   ::-webkit-scrollbar{

    width: 6px;
    background: var(--primary);

   }

   ::-webkit-scrollbar-thumb{

    background: var(--primary);
    border-radius: 30px;
   }