.clients h2 , .clients p {
    text-align: center;
    color: #717171;
}

.clients { 

    margin-top: 26px;

}

.clients h2{
    font-size: 32px;
}

.clients p{
    font-size: 12px;
}

.logo-clients{
    display: flex;
    margin-top: 40px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 115px;

}

.logo-clients img{
    width: 50px;
    height: 50px;
}

.logo-clients{
    min-width: 280px;
}


@media (max-width:1050px){

    .logo-clients{
        overflow-x: auto;
        gap:40px;
   }

}